<div class="container">
<div id="events_page" class="row" style="margin-top: 50px;">
        <div class="col s12 m12 l12">
            <p class="shadow-card-title" style="font-size: 1.7em;">Upcoming Events</p>
                            <div class="dashy-underline"></div>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="event_card">
                    <div class="contents">
                        <p class="title">
                            Python Workshop
                        </p>
                        <p>
                           Series of workshop aimed to deliver the skills required to buils applications using Python.
                        </p>
                    </div>
                    <div class="col s12" style="position: absolute; bottom: 0;">
                        <div class="col s6 left">
                            <p class="grey-text">
                                12/03/2018
                            </p>
                        </div>
                        <div class="col s6 pad10bot right">
                            <p>View Details</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="event_card">
                    <div class="contents">
                        <p class="title">
                            Andoid Workshop
                        </p>
                        <p>
                            Android workshop series conducted by Google Developer Students club, Sahyadri.
                        </p>
                    </div>
                    <div class="col s12" style="position: absolute; bottom: 0;">
                        <div class="col s6 left">
                            <p class="grey-text">
                                12/03/2018
                            </p>
                        </div>
                        <div class="col s6 pad10bot right">
                            <p>View Details</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="event_card">
                    <div class="contents">
                        <p class="title">
                            Introduction to Node.js
                        </p>
                        <p>
                            A brief introduction to Node.js and the Javascript software development ecosystem for students.
                        </p>
                    </div>
                    <div class="col s12" style="position: absolute; bottom: 0;">
                        <div class="col s6 left">
                            <p class="grey-text">
                                12/03/2018
                            </p>
                        </div>
                        <div class="col s6 pad10bot right">
                            <p>View Details</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col s12 m12 l12">
            <p class="shadow-card-title" style="font-size: 1.7em;">Past Events</p>
                            <div class="dashy-underline"></div>
        </div>
        <div class="row">
            
            <div class="col s12 m6 l4">
                <div class="event_card">
                    <div class="contents">
                        <p class="title">
                            Rustathon2K18
                        </p>
                        <p>
                            Rust workshop conducted by Mozilla club in collaboration with SOSC.
                        </p>
                    </div>
                    <div class="col s12" style="position: absolute; bottom: 0;">
                        <div class="col s6 left">
                            <p class="grey-text">
                                10/0/2/2018
                            </p>
                        </div>
                        <div class="col s6 pad10bot right">
                            <p>View Details</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="event_card">
                    <div class="contents">
                        <p class="title">
                            Git and Github Workshop.
                        </p>
                        <p>
                            Quick Workshop conducted by Google Developer Students club on basics of Git version control system and Github.
                        </p>
                    </div>
                    <div class="col s12" style="position: absolute; bottom: 0;">
                        <div class="col s6 left">
                            <p class="grey-text">
                                3/02/2018
                            </p>
                        </div>
                        <div class="col s6 pad10bot right">
                            <p>View Details</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>