<div class="container">
<div id="events_page" class="row" style="margin-top: 50px;">
        <div class="col s12 m12 l12">
            <p class="shadow-card-title" style="font-size: 1.7em;">Upcoming Events</p>
                            <div class="dashy-underline"></div>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card green hoverable">
                    <div class="card-content white-text">
                        <span class="card-title">Infosec</span>
                        <b>Date</b> </div>
                    <!-- <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div> -->
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card green hoverable">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <b>Date</b> </div>
                    <!-- <div class="card-action">
                                    <a href="#">This is a link</a>
                                    <a href="#">This is a link</a>
                                </div> -->
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card green hoverable">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <b>Date</b> </div>
                    <!-- <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div> -->
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <p class="shadow-card-title" style="font-size: 1.7em;">Past Events</p>
                            <div class="dashy-underline"></div>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card green hoverable">
                    <div class="card-content white-text">
                        <span class="card-title">Rustathon 2k18</span>
                        <b>Date</b> </div>
                    <!-- <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div> -->
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card green hoverable">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <b>Date</b> </div>
                    <!-- <div class="card-action">
                                    <a href="#">This is a link</a>
                                    <a href="#">This is a link</a>
                                </div> -->
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card green hoverable">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <b>Date</b> </div>
                    <!-- <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div> -->
                </div>
            </div>
        </div>
    </div>
    </div>