<div class="container">
<div id="events_page" class="row" style="margin-top: 50px;">
        <div class="col s12 m12 l12">
            <p class="shadow-card-title" style="font-size: 1.7em;">Upcoming Events</p>
                            <div class="dashy-underline"></div>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="event_card">
                    <div class="contents">
                        <p class="title">
                            Infosec Workshop
                        </p>
                        <p>
                            A two days workshop on Network and Cyber Security.
                        </p>
                    </div>
                    <div class="col s12" style="position: absolute; bottom: 0;">
                        <div class="col s6 left">
                            <p class="grey-text">
                                12/03/2018
                            </p>
                        </div>
                        <div class="col s6 pad10bot right">
                            <p>View Details</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="event_card">
                    <div class="contents">
                        <p class="title">
                            Infosec Workshop
                        </p>
                        <p>
                            A two days workshop on Network and Cyber Security.
                        </p>
                    </div>
                    <div class="col s12" style="position: absolute; bottom: 0;">
                        <div class="col s6 left">
                            <p class="grey-text">
                                12/03/2018
                            </p>
                        </div>
                        <div class="col s6 pad10bot right">
                            <p>View Details</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="event_card">
                    <div class="contents">
                        <p class="title">
                            Infosec Workshop
                        </p>
                        <p>
                            A two days workshop on Network and Cyber Security.
                        </p>
                    </div>
                    <div class="col s12" style="position: absolute; bottom: 0;">
                        <div class="col s6 left">
                            <p class="grey-text">
                                12/03/2018
                            </p>
                        </div>
                        <div class="col s6 pad10bot right">
                            <p>View Details</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col s12 m12 l12">
            <p class="shadow-card-title" style="font-size: 1.7em;">Past Events</p>
                            <div class="dashy-underline"></div>
        </div>
        <div class="row">
            
            <div class="col s12 m6 l4">
                <div class="event_card">
                    <div class="contents">
                        <p class="title">
                            Infosec Workshop
                        </p>
                        <p>
                            A two days workshop on Network and Cyber Security.
                        </p>
                    </div>
                    <div class="col s12" style="position: absolute; bottom: 0;">
                        <div class="col s6 left">
                            <p class="grey-text">
                                12/03/2018
                            </p>
                        </div>
                        <div class="col s6 pad10bot right">
                            <p>View Details</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="event_card">
                    <div class="contents">
                        <p class="title">
                            Infosec Workshop
                        </p>
                        <p>
                            A two days workshop on Network and Cyber Security.
                        </p>
                    </div>
                    <div class="col s12" style="position: absolute; bottom: 0;">
                        <div class="col s6 left">
                            <p class="grey-text">
                                12/03/2018
                            </p>
                        </div>
                        <div class="col s6 pad10bot right">
                            <p>View Details</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="event_card">
                    <div class="contents">
                        <p class="title">
                            Infosec Workshop
                        </p>
                        <p>
                            A two days workshop on Network and Cyber Security.
                        </p>
                    </div>
                    <div class="col s12" style="position: absolute; bottom: 0;">
                        <div class="col s6 left">
                            <p class="grey-text">
                                12/03/2018
                            </p>
                        </div>
                        <div class="col s6 pad10bot right">
                            <p>View Details</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>