
<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Sahaydri Open Source Community</h5>
        <p class="grey-text text-lighten-4">is a conglomeration of various student clubs and startups in Sahyadri College of Engineering and Management.
        All the logos and trademarks are copyright reserved by the respective owners and SOSC holds no affiliation over them.
</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Connect With us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">SOSC</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    SOSC © 2018
    <a class="grey-text text-lighten-4 right" href="#!">Made with ❤ SOSC</a>
    </div>
  </div>
</footer>