<div id="home_page" class="col s12">
        <div class="container">
        <row class="no-mar center">
            <div class="col s12">
                <img src="images/shine_logo.png" class="main_logo"/>
            </div>
            <div class="col s12">
                <h2 class="nunito">Sahyadri Hub for Innovation and Entrepreneurship</h2>
            </div>
            
        </row>
        
        <div class="row">
            <div class="col s12 m4">
                <div class="cards cards-3 pad10">
                <p class="shadow-card-title">Technical Workshops</p>
                    <div class="dashy-underline"></div>
                    <p>
                    Regular workshops on latest technologies to skill the students, through effectively collaborating with startups and clubs.
                    </p>
                    <div class="row center mar30top">
                        <div class="col s12">
                            <img src="/images/project.svg" height="100px" width="100px" alt="community"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="cards cards-3 pad10">
                    <p class="shadow-card-title">Industry Connect</p>
                    <div class="dashy-underline"></div>
                    <p>
                    Startups associated with SHINE will take uphand for students helping them gain new skill through their industrial experience.
                    </p>
                    <div class="row center mar30top">
                        <div class="col s12">
                            <img src="/images/robot.svg" height="100px" width="100px" alt="community"/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <div class="cards cards-3 pad10">
                   <p class="shadow-card-title">Student Community</p>
                    <div class="dashy-underline"></div>
                    <p>
                    SHINE will enable the formation of a student community where people of different interests and expertise can interact and work together.

                    </p>
                    <div class="row center mar30top">
                        <div class="col s12">
                            <img src="/images/pencil.svg" height="100px" width="100px" alt="community"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
        
        <div class="green mar0bot">
         <div class="container green mar0bot">
                 <div class="row mar0bot pad30">
                    <div class="col s12 m6 pad30">
                    <p class="shadow-card-title white-text">What we are upto..</p>
                    <div class="dashy-underline white"></div>
                    <p>
                     <p class="white-text justify">
                        SHINE aims to create a student community to promote technological research and
                        development. SHINE will also along with the help of student clubs and startups
                        regularly conduct technical workshops to skill the students and provide necessary
                        introduction to technologies.
                        SHINE recognizes the need for students in the engineering profession to be well
                        equipped with skills in the latest and emerging fields. We hope to achieve this by
                        working hand in hand with various startups as they are the most aware of what skills
                        the students will require in their professional careers.
                    </p>
                    </div>

                     <div class="col s12 m6 pad30">
                    <p class="shadow-card-title white-text">What we are upto..</p>
                    <div class="dashy-underline white"></div>
                    <p>
                     <p class="white-text justify">
                        SHINE aims to create a student community to promote technological research and
                        development. SHINE will also along with the help of student clubs and startups
                        regularly conduct technical workshops to skill the students and provide necessary
                        introduction to technologies.
                        SHINE recognizes the need for students in the engineering profession to be well
                        equipped with skills in the latest and emerging fields. We hope to achieve this by
                        working hand in hand with various startups as they are the most aware of what skills
                        the students will require in their professional careers.
                    </p>
                    </div>
                 </div>

                 
            </div>
        </div>
           
    
</div>