<div id="home_page" class="col s12">
        <div class="container">
        <h2 class="nunito">Sahyadri Hub for Innovation and Entrepreneurship</h2>
        <div class="row">
            <div class="col s12 m4">
                <div class="cards cards-3">
                    hello
                </div>
            </div>
            <div class="col s12 m4">
                <div class="cards cards-3">
                    hello
                </div>
            </div>
            <div class="col s12 m4">
                <div class="cards cards-3">
                    hello
                </div>
            </div>
        </div>
        
        </div>
</div>