<div id="home_page" class="col s12">
        <div class="container">
        <h2 class="nunito">Sahyadri Hub for Innovation and Entrepreneurship</h2>
        <div class="row">
            <div class="col s12 m4">
                <div class="cards cards-3 pad10">
                    <p class="shadow-card-title">Technical Workshops</p>
                    <div class="dashy-underline"></div>
                    <p>
                    Regular workshops on latest technologies to skill the students, through effectively collaborating with startups and clubs.
                    </p>
                    <div class="row center mar30top">
                        <div class="col s12">
                            <img src="/images/project.svg" height="100px" width="100px" alt="community"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="cards cards-3 pad10">
                    <p class="shadow-card-title">Industry Connect</p>
                    <div class="dashy-underline"></div>
                    <p>
                    Startups associated with SHINE will take uphand for students helping them gain new skill through their industrial experience.
                    </p>
                    <div class="row center mar30top">
                        <div class="col s12">
                            <img src="/images/robot.svg" height="100px" width="100px" alt="community"/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <div class="cards cards-3 pad10">
                   <p class="shadow-card-title">Student Community</p>
                    <div class="dashy-underline"></div>
                    <p>
                    SHINE will enable the formation of a student community where people of different interests and expertise can interact and work together.

                    </p>
                    <div class="row center mar30top">
                        <div class="col s12">
                            <img src="/images/pencil.svg" height="100px" width="100px" alt="community"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
        <div class="row green mar0bot">
            <div class="container">
                <div class="row pad30">
                    <div class="col s12 m6 l6 pad20">
                    <p class="shadow-card-title white-text">United through Collab!</p>
                     <p class="white-text" style="margin: 20px 0 0 0;">
                    SHINE will enable the formation of a student community where people of different interests and expertise can interact and work together.

                    </p>
                    </div>
                     <div class="col s12 m6 l6">
                        <div class="cards cards-3">
                            hello
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>