<!-- All the internal styles have been moved to /scss/components/_customcomponents.scss -->
<div class="container">
<div id="teams_page" class="row" style="margin-top: 50px;">
  <div class="col s12 m12 l12">
     <p class="shadow-card-title" style="font-size: 1.7em;">Our Team</p>
                    <div class="dashy-underline"></div>
  </div>
  
  <div>
  <%
    var data = [
      {
        name: 'Mr.Prakhyath Rai',
        caption: 'Faculty Coordinator',
        image: 'images/team/prakhyath_rai.jpg'
      },
      {
        name: 'Manjesh P Shetty',
        caption: 'Student Program Coordinator',
        image: 'images/team/manjesh_p_shetty.jpg'
      },
      {
        name: ' Arjun Suvarna',
        caption: 'Chairperson',
        image: 'images/team/arjun_suvarna.jpg'
      },
      {
        name: ' Jehad Mohamed',
        caption: 'Vice Chairperson',
        image: 'images/team/jehad_mohamed.jpg'
      },
      {
        name: 'Musthaq Ahamad',
        caption: 'Technical Head',
        image: 'images/team/haxzie.jpg'
      },
      {
        name: 'Akshay Ram Bhat',
        caption: 'Technical Co-Head',
        image: 'images/team/akshay_ram_bhat.jpg'
      },
      {
        name: 'Chaman K',
        caption: 'Web Admin',
        image: 'images/team/chaman_k.jpg'
      },
      {
        name: 'Raees Nazeer',
        caption: 'Co-Web Admin',
        image: 'images/team/raees_nazeer.jpg'
      },
      {
        name: 'Srujan U',
        caption: 'Project Coordinator',
        image: 'images/team/srujan_u.jpg'
      },
      {
        name: 'Akashdeep',
        caption: 'Co-Project Coordinator',
        image: 'images/team/akashdeep.jpg'
      },
      {
        name: 'Afroz Hussain',
        caption: 'Design Head',
        image: 'images/team/afroz_hussain.jpg'
      },
      {
        name: 'Ryan Mathew',
        caption: 'Design Co-Head',
        image: 'images/team/nathaniel_ryan_mathew.jpg'
      },
      {
        name: 'Monisha Tarkar',
        caption: 'Sponsorship &amp; Marketing Head',
        image: 'images/team/monisha_tarkar.jpg'
      },
      {
        name: 'Riya Batra',
        caption: 'Finance Head',
        image: 'images/team/riya_batra.jpg'
      },
      {
        name: 'Devansh N Hingrajia',
        caption: 'Event Manager',
        image: 'images/team/devansh_n_hingrajia.jpg'
      },
      {
        name: 'Navneeth Krishna',
        caption: 'HR Head',
        image: 'images/team/navneeth_krishna.jpg'
      },
      {
        name: 'Kishan Ghetia',
        caption: 'Blogger/Development Head',
        image: 'images/team/kishan_ghetia.jpg'
      },
      
    ];

    var first = true;
    for( var i = 0; i < data.length; i++) { %>

        <% if (i%4 === 0){ %>
           
            </div>
            <div class="row mar0bot center">

       <% } %>

        <div class="col s12 m6 l3 pad10">
          <div class="cards white accent-4 size200 pad10 propic-card center">
            <div class="row">
              <img data-src="<%= data[i].image %>" class="propic circle mar5top " />
          </div>
          <span class="black-text name">
              <%= data[i].name %>
            </span><br/><span class="grey-text caption pad5">
               <%= data[i].caption %>
            </span>
        </div>
      </div>
    <% } %>

    </div>
    </div>
  </div>
  </div>