<style>
.size200 {
  width: 230px;
}
.pad5 {
  padding: 10px;
}
.pad10 {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
.propic-card {
  border-radius: 5px;
}

.propic-card .propic {
  width: 150px;
  height: 150px;
}

.propic-card .name {
  font-size: 18px;
  padding: 0;
}

.propic-card .caption {
  font-size: 14px;
  opacity: 0.7;
  padding: 0;
}
.mar5top {
  margin-top: 10px;
}
.mar0top{
  margin-top: 0px;
  padding-top: 0px;
}

.mar0bot{
  margin-bottom: 0px;
}
</style>
<div class="container">
<div id="teams_page" class="col s12" style="margin-top: 50px;">
  <h4 class="center">Our team</h4>
  <div class="row mar0bot center">
  <div class="col s12 m6 l3 pad10">
    <div class="cards white accent-4 size200 pad10 propic-card center">
      <div class="row">
        <img data-src="images/team/prakhyath_rai.jpg" class="propic circle mar5top" />
      </div>
      <span class="black-text name">
            Mr.Prakhyath Rai
          </span><br/><span class="grey-text caption pad5">
             Faculty Coordinator
          </span>
    </div>
  </div>
  <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/johnson_tellis.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Mr. Johnson Tellis
            </span><br/><span class="grey-text caption pad5">
               Startups Program Coordinator
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
        <div class="cards white accent-4 size200 pad10 propic-card center">
          <div class="row">
            <img data-src="images/team/manjesh_p_shetty.jpg" class="propic circle mar5top " />
          </div>
          <span class="black-text name">
                Manjesh P Shetty
              </span><br/><span class="grey-text caption pad5">
                 Student Program Coordinator
              </span>
        </div>
      </div>
      <div class="col s12 m6 l3 pad10">
          <div class="cards white accent-4 size200 pad10 propic-card center">
            <div class="row ">
              <img data-src="images/team/arjun_suvarna.jpg" class="propic circle mar5top " />
            </div>
            <span class="black-text name">
                  Arjun Suvarna
                </span><br/><span class="grey-text caption pad5">
                   Chairperson <br>
                </span>
          </div>
        </div>
  </div>
  <div class="row  mar0bot center">
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/jehad_mohamed.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Jehad Mohamed
            </span><br/><span class="grey-text caption pad5">
               Vice Chairperson
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/haxzie.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Musthaq Ahamad
            </span><br/><span class="grey-text caption pad5">
               Technical Head
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/akshay_ram_bhat.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Akshay Ram Bhat
            </span><br/><span class="grey-text caption pad5">
               Technical Co-Head
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/chaman_k.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Chaman K
            </span><br/><span class="grey-text caption pad5">
               Web Admin
            </span>
      </div>
    </div>
  </div>
  <div class="row  mar0bot center">
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/raees_nazeer.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Raees Nazeer
            </span><br/><span class="grey-text caption pad5">
               Co-Web Admin
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/srujan_u.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Srujan U
            </span><br/><span class="grey-text caption pad5">
               Project Coordinator
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/akashdeep.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Akashdeep
            </span><br/><span class="grey-text caption pad5">
                Co-Project Coordinator
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/afroz_hussain.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Afroz Hussain
            </span><br/><span class="grey-text caption pad5">
               Design Head
            </span>
      </div>
    </div>
  </div>
  <div class="row  mar0bot center">
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/nathaniel_ryan_mathew.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
          Ryan Mathew
            </span><br/><span class="grey-text caption pad5">
               Design Co-Head
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/monisha_tarkar.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Monisha Tarkar
            </span><br/><span class="grey-text caption pad5">
               Sponsorship &amp; Marketing Head
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/riya_batra.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Riya Batra
            </span><br/><span class="grey-text caption pad5">
               Finance Head
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/devansh_n_hingrajia.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
          Devansh N Hingrajia
            </span><br/><span class="grey-text caption pad5">
               Event Manager
            </span>
      </div>
    </div>
  </div>
  <div class="row mar0bot center">
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/navneeth_krishna.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Navneeth Krishna
            </span><br/><span class="grey-text caption pad5">
               HR Head
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
      <div class="cards white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img data-src="images/team/kishan_ghetia.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Kishan Ghetia
            </span><br/><span class="grey-text caption pad5">
              Blogger/Development Head
            </span>
      </div>
    </div>
  </div>
  </div>
  </div>