<style>
  .cards {
  background: #fff;
  border-radius: 3px;
  display: inline-block;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}
.cards-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.size200 {
  width: 230px;
}
.pad5 {
  padding: 10px;
}
.pad10 {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
.propic-card {
  border-radius: 5px;
}

.propic-card .propic {
  width: 150px;
  height: 150px;
}

.propic-card .name {
  font-size: 18px;
  padding: 0;
}

.propic-card .caption {
  font-size: 14px;
  opacity: 0.7;
  padding: 0;
}
.mar5top {
  margin-top: 10px;
}
</style>
<div id="teams_page" class="col s12">
  <div class="row">
  <div class="col s12 m6 l3 pad10">
    <div class="cards hoverable cards-3 white accent-4 size200 pad10 propic-card center">
      <div class="row">
        <img src="images/team/Prakhyath.jpg" class="propic circle mar5top " />
      </div>
      <span class="black-text name">
            Mr.Prakhyath Rai
          </span><br/><span class="grey-text caption pad5">
             Faculty Coordinator
          </span>
    </div>
  </div>
  <div class="col s12 m6 l3 pad10">
      <div class="cards cards-3 white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img src="images/team/Prakhyath.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Mr. Johnson Tellis
            </span><br/><span class="grey-text caption pad5">
               Startups Program Coordinator
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
        <div class="cards cards-3 white accent-4 size200 pad10 propic-card center">
          <div class="row">
            <img src="images/team/Prakhyath.jpg" class="propic circle mar5top " />
          </div>
          <span class="black-text name">
                Manjesh P Shetty
              </span><br/><span class="grey-text caption pad5">
                 Student Program Coordinator
              </span>
        </div>
      </div>
      <div class="col s12 m6 l3 pad10">
          <div class="cards cards-3 white accent-4 size200 pad10 propic-card">
            <div class="row center">
              <img src="images/team/Prakhyath.jpg" class="propic circle mar5top " />
            </div>
            <span class="black-text name">
                  Arjun Suvarna
                </span><br/><span class="grey-text caption pad5">
                   Chairperson <br>
                </span>
          </div>
        </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l3 pad10">
      <div class="cards cards-3 white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img src="images/team/Prakhyath.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              Jehad
            </span><br/><span class="grey-text caption pad5">
               designation
            </span>
      </div>
    </div>
    <div class="col s12 m6 l3 pad10">
      <div class="cards cards-3 white accent-4 size200 pad10 propic-card center">
        <div class="row">
          <img src="images/team/Prakhyath.jpg" class="propic circle mar5top " />
        </div>
        <span class="black-text name">
              name
            </span><br/><span class="grey-text caption pad5">
               designation
            </span>
      </div>
    </div>
  </div>
  </div>