.no-pad {
    padding: 0;
}

.pad10 {
    padding: 10px;
}

.pad20 {
    padding: 20px;
}

.pad30 {
    padding: 30px;
}

.no-mar {
    margin: 0;
}
.mar10 {
    margin: 10px;
}
.mar10top {
    margin-top: 10px;
}
.mar20 {
    margin: 20px;
}
.mar20top {
    margin-top: 20px;
}
.mar30 {
    margin: 30px;
}
.mar30top {
    margin-top: 30px;
}
.mar40 {
    margin: 40px;
}

